.footer {
    background-color: $Color-gris;
    padding: 30px;
    width: 100%;
    bottom: 0px;
}

.btn-whatsapp {
    display: block;
    width: 70px;
    height: 70px;
    color: #fff;
    position: fixed;
    right: 20px;
    bottom: 20px;
    line-height: 80px;
    text-align: center;
    z-index: 999;
}