h1 {
    font-size: $fontsizetitulos;
    color: $colorprincipal;
    padding-bottom: 30px;
    padding-left: 20px;
}

.titular {
    display: flex;
    justify-content: center;

}

.titular2 {
    width: 1200px;
    padding: 20px;
}

h2 {
    color: $colorprincipal;
    font-size: 25px;
    font-weight: bolder;
    padding-bottom: 10px;
    text-align: center;

    p {
        color: $Color-gris;
        font-weight: bolder;
        text-align: center;
        text-decoration: line-through;
        font-size: 14px;
    }
}


h3 {
    font-size: 14px;
    margin-left: 10px;
    &:hover {
        color: $colorprincipal;
        transition: all 0.7s;
    }
}

@mixin p {
    font-size: $fontsizetexto;
    text-align: justify;
}

.comprar {
    background-color: $colorprincipal;
    color: #fff;
    border-radius: 10px;
    padding: 10px 15px;
    margin: 20px;
    width: 200px;
    position: r;
    text-align: center;
    transition: all 0.7s;

    &:hover {
        background-color: $Color-gris;
        color: #ffffff;
        border-radius: 10px;
        transform: scale(0.9);
        transition: all 0.7s;
    }
}


.carousel-inner img {
    width: 100%;
    height: 100%;
}

.destacados {
    height: 450px;
    justify-content: center;
    text-align: center;
    z-index: 0;
}

.comprar2 {
    background-color: $colorprincipal;
    color: #fff;
    border-radius: 20px;
    padding: 0px 5px;
    margin: 10px;
    width: 400px;
    text-align: center;
    justify-content: center;
    transition: all 0.7s;

    &:hover {
        background-color: $Color-gris;
        color: #ffffff;
        border-radius: 10px;
        transition: all 0.7s;
    }
}

@mixin main {
    text-align: center;
    justify-content: center;
    padding: 20px;
}

.section {
    @include main;
}

.productosdestacados {
    @extend .titular2;
    justify-content: space-around;
}

.productosdestacadosimg {
    object-fit: cover;
    width: 250Px;
    height: 250px;
    border-radius: 8px;
    margin: 10px;
    text-align: center;
    transition: all 0.7s;
    &:hover {
        transform: scale(0.9);
        transition: all 0.7s;
        
    }
}

.sec1 {
    margin: 0%;
    background-color: #ffffff;
    background-image: linear-gradient(62deg, #ffffff 0%, #d5d5d5 100%);
    width: 100%;
    text-align: center;
    justify-content: space-around;
}

.sec2 {
    background-color: rgb(255, 255, 255);
    width: 100%;
    justify-content: space-evenly;
    margin-bottom: 100px;
    text-align: center;
}

.imgpromocion {
    border-radius: 20px;
    margin: 30px;
    height: 500px;
    filter: grayscale(1);
    transition: all 0.7s;

    &:hover {
        border-radius: 50px;
        margin: 30px;
        filter: none;
        transform: scale(0.9);
        transition: all 0.7s;
        box-shadow: 4px 5px 7px rgba(0, 0, 0, 0.445);
    }
}

.marcas {
    padding: 30px;
}

.nosotros {
    padding: 20px;

    p {
        @include p;
        line-height: 40px;
    }
}

.forms {
    text-align: center;
}

.textarea {
    height: 30px;
    width: 400px;
    margin: 0px 10px 10px;
}

.mensaje {
    background-color: #e7e7e7;
    border: none;
    width: 400px;
    padding-left: 15px;
    padding-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.enviar {
    width: 320px;
    background-color: $colorprincipal;
    border-radius: 5px;
    padding: 5px 10px;
    color: #fff;
    transition: all 0.7s;

    &:hover {
        width: 320px;
        background-color: $Color-gris;
        border-radius: 5px;
        padding: 5px 10px;
        color: #fff;
    }
}

input {
    background-color: $Color-gris;
    border: 0;
    font-size: $fontsizetexto;
    border-radius: 5px;
    margin: 5px;
    padding: 5px;
}

.suscripcionboton {
    background-color: $colorprincipal;
    border-color: #ffffff;
    border-radius: 5px;
    padding: 5px 10px;
    color: #fff;
    transition: all 0.7s;

    &:hover {
        background-color: $Color-gris;
        border-color: #ffffff;
        border-radius: 5px;
        padding: 5px 10px;
        color: #fff;
        transform: scale(0.9);
        transition: all 0.7s;
    }
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 5px;
    justify-items: center;
    align-items: center;
}

.grid-item {
    text-align: center;
    width: 200px;
    height: 200px;

    img {
        width: 80%;
    }
}

.ruta {
    @extend .titular2;
    color: $Color-gris;
    font-size: 10px;
    justify-content: left;
    text-align: left;
    margin-bottom: 30px;
}

.fotoproducto {
    object-fit: cover;
    border-radius: 20px;
    margin: 0px 30px 30px 0px;
    box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.26);
    float: left;
}

.contenedortienda {
    box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.26);
    border-radius: 10px;
    padding: 0px 10px;
    margin: 10px 2px;
}

.descripcion {
    float: left;
    margin-top: 50px;
    font-size: $fontsizetexto;
    line-height: 40px;
}

.cajacontacto {
    background-color: $colorprincipal;
    color: #fff;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-size: $fontsizetexto;
    border-radius: 10px;
    width: 250px;
    margin: 5px;
    padding: 8px;
    padding-top: 50px;
    height: 250px;
    opacity: 0.2;
    transition: all 0.7s;

    &:hover {
        background-color: $colorprincipal;
        color: #fff;
        justify-content: center;
        align-items: center;
        font-size: $fontsizetexto;
        border-radius: 10px;
        width: 250px;
        height: 250px;
        opacity: 1;
    }
}