@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;400&display=swap');
$colorprincipal:#F4980A;
$colorhover: rgba(255, 255, 255, 0.801);
$Color-gris: #adadad;
$fontsizetitulos: 30px;
$fontsizetexto: 16px;

* {
    margin: 0;
    padding: auto;
    box-sizing: border-box;
}

body {
    font-family: 'Raleway', sans-serif;
    background-color: rgb(255, 255, 255);
    margin: 0;
}

body::-webkit-scrollbar {
    width: 20px;
}

body::-webkit-scrollbar-track {
    background-color: #FBAB7E;
    background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);
}

body::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 10px;
}

@import "header";
@import "main";
@import "footer";
@import "media-queries";