    <div class="center-content">
    <h1>Forgot Password</h1>
    <form method="POST" action="/api/forgot-password">
        <input type="email" class="input-form" name="email" placeholder="Email" required>
        <button type="submit" class="btn agregar-carrito">Reset Password</button>
    </form>
    </div>

