<div class="container-fluid">
    <section id="promociones" class="promotions">
    <div class="container">
        <h2 class="section-title">Promociones</h2>
        <div class="promotion">
            <h3 class="promotion-title">3 Cuotas sin Interés</h3>
            <p class="promotion-description">Paga tus lentes en 3 cuotas sin intereses.</p>
        </div>
        <div class="promotion">
            <h3 class="promotion-title">Envío Gratis a Todo el País</h3>
            <p class="promotion-description">Recibe tus lentes en la puerta de tu casa sin costo adicional.</p>
        </div>
        <div class="promotion">
            <h3 class="promotion-title">Descuento con Transferencia</h3>
            <p class="promotion-description">Obtén un descuento especial al pagar con transferencia bancaria.</p>
        </div>
    </div>
</section>

    <section id="contacto" class="contact">
        <div class="container">
            <h2 class="section-title">Contáctanos</h2>
            <p class="contact-description">¿Tienes alguna pregunta? ¡Contáctanos!</p>
            <a href="mailto:info@opticaflex.com" class="btn btn-primary">Enviar correo</a>
        </div>
    </section>

</div>   