<form action="api/auth/login" method="POST">
        <label for="mail">E-mail:</label>
        <input type="email" id="mail" name="mail" required>
        <br><br>
        <label for="password">Contraseña:</label>
        <input type="password" id="password" name="password" required>
        <br><br>
        <input type="submit" value="Iniciar sesión">
    </form>