<div class="center-content">
  <h1>Perfil de usuario</h1>

  {{#if token}}
  <p>Bienvenido de vuelta!</p>

  <form action="./api/auth/signout" method="POST" class="form-container">
    <input type="submit" class="btn agregar-carrito" value="Log Out">
  </form>
  {{else}}
  <p>Login</p>
  <form action="./api/auth/login" method="POST" class="form-container">
    <input placeholder="Usuario o email" class="input-form" type="email" id="mail" name="mail" required>
    <br><br>
    <input placeholder="Contraseña" class="input-form" type="password" id="password" name="password" required>
    <br><br>
    <input placeholder="Buscar producto" class="btn agregar-carrito" type="submit" value="Iniciar sesión">
    <a class="btn agregar-carrito" href="/forgot-password">Olvidé mi contraseña</a>
    <br><br>

    <div>
      <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap">
      <a href="./api/auth/github" style="display:inline-flex; align-items:center; min-height:40px;
        background-color:#24292e; font-family:'Roboto',sans-serif;
        font-size:14px; color:white; text-decoration:none;
        padding:8px 12px 8px 0px;">
        <svg height="18" viewBox="0 0 16 16" width="40px" style="fill:white;">
          <path fill-rule="evenodd"
            d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.013 8.013 0 0016 8c0-4.42-3.58-8-8-8z" />
        </svg>
        Sign in with GitHub
      </a>
    </div>
  </form>
  {{/if}}
</div>

{{#if token}}
<h2 style="font-size:32px">Subir documentacion para ser un usuario verificado:</h2>
  <form action="/api/users/documents?redirect=true" method="post" enctype="multipart/form-data">
  <p>Foto frente del DNI</p>
  <input placeholder="Foto DNI frente" type="file" class="input-form" id="dni-front" name="dni-front" required>
  <p>Foto dorso del DNI</p>
  <input placeholder="Foto DNI dorso" type="file" class="input-form" id="dni-back" name="dni-back" required>
  <p>Foto selfie sosteniendo el DNI</p>
  <input placeholder="Foto Selfie" type="file" class="input-form" id="irl-user-photo" name="irl-user-photo" required>
  <button type="submit" <a class="btn agregar-carrito">Subir archivos</button>
  </form>
{{/if}}