<div class="container title">
    {{title}}
</div>
<div class="container">
    <div class="d-flex prodcutos">
    {{#each produtcs}}

    <div class="card">
        <div>
            <img src={{this.photo}} class="card-img-top">
        </div>
        <div class="card-body">
            <h5>{{this.title}}</h5>
            <p class="card-text">{{price}}</p>
            <a href="#" class="btn agregar-carrito"> Agregar al carrito </a>
        </div>
    </div>
    {{/each}}
</div>
</div>