
<div class="container title">
    {{topTitle}}
</div>
<div class="container">
    <div class="d-flex prodcutos" id="containerElementos">

</div>
</div>

<script type="module" src={{script2}}></script>