
<div class="center-content">
<h1>Reset Password for {{email}}</h1>
<form method="POST" action="/api/reset-password">
    <input type="hidden" name="token" value="{{token}}">
    <input class="input-form"  type="password" name="newPassword" placeholder="New Password" required>
    <button type="submit" class="btn agregar-carrito">Submit</button>
</form>
</div>
