
<div class="bigUniqueProduct">
    <p class="prodTitle-creator prodTitle-position-bigproduct">Title</p>
    <p class="prodDescription-creator ">Description</p>
    <p class="prodEnvioTitle-creator cotizadorAndreani prodCotizador-size itemCotizador-text itemCotizador-background">Envió Andreani $1.740 en 1 día hábil</p>
    <p class="prodEnvioTitle-creator cotizadorOca prodCotizador-size itemCotizador-text itemCotizador-background">Envió OCA $1.420 en 3 días hábiles</p>
    <div></div>
    <p class="prodPrice-creator prodPrice-position">$Price</p>
    <div></div>
    <div></div>
    <input class="addStock-main" type="text" placeholder="1" value="1" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1').replace(/^0[^.]/, '0');">
    <button type="button" class="">+</button>
    <button type="button">-</button>
    <button type="button" class="prodAddButton prodAddButton-enabled prodAddButton-position-bigproduct">SUMAR 0 AL CARRITO</button>
    <div class="addStock-background"></div>

    <img src="" alt="" class ="prodImage-big">

    
</div>